body{
  background-color: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.header{
  line-height: 0em;
  height: 800px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2.been{
    color: #888;
    font-size: 20px;
    line-height: 31px;
    margin: 42px 198px -42px 0;
}

.hack{
      color: #fff;
      font-size: 700%;
      margin: 0;
      line-height: 1em;
      padding: 10px 0 10px 0;
}

.grey{
  color: #888;
}

.kidding{
  color: #222;
  font-size: 16px;
}

.middle{
  text-align: center;
}

.small{
    color: #666;
    font-weight: 300;
}
